asgiref==3.5.2
attrs==22.1.0
cfgv==3.3.1
distlib==0.3.6
Django==4.1.2
djangorestframework==3.14.0
drf-spectacular==0.24.2
filelock==3.8.0
identify==2.5.6
inflection==0.5.1
jsonschema==4.16.0
nodeenv==1.7.0
platformdirs==2.5.2
psycopg2==2.8.6
pyrsistent==0.18.1
pytz==2022.4
PyYAML==6.0
sqlparse==0.4.3
toml==0.10.2
uritemplate==4.1.1
virtualenv==20.16.5
